*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}
