:root {
  --rootpdx-blue: #1683ff;
  --rootpdx-black: #030609;

  color: var(--rootpdx-blue);
  background-color: var(--rootpdx-black);
  font-family: ui-monospace, "SFMono-Regular", Consolas,
    "Liberation Mono", monospace;
}

.rootpdx {
  color: var(--rootpdx-blue);
  background-color: var(--rootpdx-black);
  font-weight: 500;
  letter-spacing: -0.08em;
}

.prompt {
  color: var(--rootpdx-blue);
  background-color: var(--rootpdx-black);
}