    :root {
      --rootpdx-blue: #1683ff;
      --rootpdx-black: #030609;
      --rootpdx-dim: #0c61bd;
      --rootpdx-trim: #4d4d4d;

      /* color: var(--rootpdx-blue);
      background-color: var(--rootpdx-black); */
      font-family:
        ui-monospace, "SFMono-Regular", Consolas, "Liberation Mono", monospace;
      /* color-scheme: dark; */
    }

    output,
    input[type="number"] {
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
